

body {
    margin: 0;
    background-color:#282c34 ;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/27351993181594518/34A438A9D9A103FC1BD84E6D1159CDE527219F68/");
    color: rgb(231, 231, 231);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.heroPage {
    display:flex;
    flex-direction: column;
}

.headerLogo {
    padding-top: 2%;
    max-height: 100px;
    max-width: 100px;
    align-self: center;
  }

header{
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: center;
}

.searchBlock{
    padding-bottom:5%;
    padding-left:5%;
}

.inputLabel{
    font-weight:bolder;
}

.searchInput{
    border-color: rgb(62, 139, 226);
    border-radius: 4px;

}
.submitButton{
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 25px;
    color: white;
    background-color: rgb(62, 139, 226);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heroList{
    justify-content: center;
    width: 90%;
    flex-direction: column;
}

.heroProfileListItem {
    padding-bottom:5%;
    list-style-type:none;
}

.heroDetailslist{
    justify-content: space-around;
    list-style-type:none;
}

.profileImage {
    max-height: 400px;
    max-width: 400px;
}


